* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img[alt="logoConversor"] {
    width: 250px;
    margin-bottom: 20px;
}

main {
    background-color: #ffffff;
    width: 375px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 14px;
    color: #777777;
}

.select-container,
.input-container {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    padding: 0 15px;
}

select,
input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    appearance: none;
}
.brasil{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.flag {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.icon {
    width: 22px;
    height: 22px;
}

input::placeholder {
    color: #cccccc;
}

button {
    width: 100%;
    height: 50px;
    background-color: #4c7faf;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    margin-top: 10px;
}

button:hover {
    background-color: #4e8499;
}

button:active {
    opacity: 0.8;
}
